$white: #ffffff;
$black: #000000;
$orange-100: #fff2ed;
$orange-700: #FFAE94;
$orange-800: #ff7a50;
$orange-900: #ff6838;
$silver-100: #f9faff;
$silver-200: #ececec;
$silver-300: #c1c1c1;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$blue: #00AAFF;
$red: #FF2222;
$dark: #31352b;
$darken: #505050;

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}