.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  &--subcon {
    display: none;

    @include mq("tablet-2") {
      display: block;
    }
  }

  &--footer {
    @include mq("tablet-2") {
      display: none;
    }
  }

  &__list {
    margin-bottom: 15px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    padding-left: 30px;
    position: relative;
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;

    &::after {
      @include pseudo;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      left: 0;
      top: -2px;
      width: 24px;
      height: 24px;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-800, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;

      &::after {
        @include recolor($orange-900)
      }
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($dark, 0.5);
    }

    &--loc {
      &::after {
        background-image: url("../img/icons/icon-location.svg");
      }
    }

    &--tel {
      &::after {
        background-image: url("../img/icons/icon-calling.svg");
      }
    }

    &--sup {
      &::after {
        background-image: url("../img/icons/icon-message.svg");
      }
    }
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $silver-200;
    transition: background-color 0.3s;

    &:focus {
      background-color: rgba($orange-100, 0.1);
      box-shadow: 0 0 0 2px rgba($orange-800, 0.7);
    }

    &:hover {
      background-color: $orange-900;

      .social__icon {
        @include recolor($white);
      }
    }

    &:active {
      background-color: $orange-100;

      .social__icon {
        @include recolor($orange-900);
      }
    }
  }

  &__icon {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 22px;
    @include recolor($dark);
  }
}