<section class="apps section">
  <div class="container">
    <div class="apps__inner">
      <div class="apps__content">
        <h2 class="title apps__title">Скачайте мобильное приложение</h2>
        <div class="apps__text">
          <p>
            Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте.
          </p>
        </div>

        <ul class="apps__list">
          <li class="apps__item">
            <a class="apps__link" target="_blank" href="#" style="background-image: url('img/apps/app-store.svg')"></a>
          </li>

          <li class="apps__item">
            <a class="apps__link apps__link--google" target="_blank" href="#" style="background-image: url('img/apps/google-play.svg')"></a>
          </li>
        </ul>
      </div>

      <div class="apps__bg" style="background-image: url('img/apps/apps-bg.jpg')"></div>
    </div>
  </div>
</section>