.discounts {

  @include mq("phone") {
    padding-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 30px;

    @include mq("tablet-2") {
      display: none;
    }
  }
}

.discounts-swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: none;

  @include mq("tablet-2") {
    display: block;
  }

  &__wrapper {
    margin-bottom: 60px;
  }

  &__slide {
    max-width: 370px;
  }
}