.products-catalog {

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @include mq("tablet-2") {
      margin-bottom: 50px;
    }

    @include mq("tablet") {
      margin-bottom: 30px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__selects {
    @include mq("tablet") {
      display: flex;
    }
  }

  &__select {

    &:not(:last-child) {
      margin-right: 15px;

      @include mq("tablet") {
        margin-right: 7px;
      }
    }
  }

  &__inner {
    display: flex;
  }

  &__content {
    width: 100%;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    padding-top: 1px;

    @include mq("tablet-2") {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include mq("phone") {
      gap: 10px 5px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.jq-selectbox__select {
  height: 47px;
  padding: 0 35px 0 15px;
  border: 1px solid $gray;
  border-bottom-color: $gray;
  border-radius: 3px;
  background: $white;
  box-shadow: none;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $dark;
  text-shadow: none;
  display: flex;
  align-items: center;

  @include mq("phone") {
    padding: 0 30px 0 8px;
  }

  &:hover {
    background: #fff;
  }
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 12px;
  height: 6px;
  border: none;

  background-image: url('../img/icons/icon-angle.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.jq-selectbox__trigger {
  border-left: none;
}

.filters {
  margin-right: 30px;

  @include mq('tablet') {
    position: fixed;
    padding-top: 80px;
    padding-left: 2px;
    left: 0;
    right: 0;
    top: 0;
    background-color: $white;
    display: block;
    text-align: left;
    width: 80%;
    height: 100vh;
    transform: translateX(-200%);
    transition: transform 0.3s;
    overflow: auto;
    z-index: 999;
    margin-right: 0;
  }

  &--open {
    @include mq('tablet') {
      transform: translateX(0);
    }
  }

  &__item {
    background-color: $white;
    border: 1px solid $silver-200;
    border-radius: 5px;
    width: 270px;

    @include mq("phone") {
      width: 230px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.03em;
    padding: 15px;
    border-bottom: 1px solid $silver-200;
    margin-bottom: 25px;
    @include line-clamp(1);
  }

  &__list-item {
    @include line-clamp(1);
    padding: 0 15px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $dark;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:last-child {
      margin-bottom: 25px;
    }
  }

  &__list-link {
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;
    }


    &:active {
      text-shadow: 2px 2px 5px rgba($dark, 0.5);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 0 15px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:last-child {
      margin-bottom: 25px;
    }
  }

  &__check {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background-color: #FAEDED;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:checked {
      border: 1px solid $dark;

      &::after {
        @include pseudo;
        background-image: url('../img/icons/icon-checked.svg');
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }
}

.filters-price {
  &__form {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 240px;

    @include mq("phone") {
      padding: 0 15px;
    }
  }

  &__list {
    display: flex;
  }

  &__num {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $gray;
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: auto;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAEDED;
    border: 1px solid #FAEDED;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark;
    width: 70px;
    height: 40px;
  }

  &__from,
  &__to {
    width: 38px;
  }
}

.irs--flat .irs-line {
  top: 25px;
  height: 2px;
  background-color: $gray;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 2px;
  background-color: $orange-900;
}

.irs--flat .irs-handle>i {
  position: absolute;
  display: block;
  top: -5px;
  width: 18px;
  height: 100%;
  margin-left: -1px;
  background-color: $orange-900;
  border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
  width: 0;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}