.popular-catigories {
  text-align: center;

  &__filters {
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    line-height: 1.3;
    margin-bottom: 45px;
    padding: 2px 0 2px 2px;

    @include mq('tablet-2') {
      font-size: 18px;
      margin-bottom: 40px;
    }

    @include mq('tablet') {
      font-size: 16px;
      margin-bottom: 35px;
    }

    @include mq('phone') {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  &__filter {

    &:not(:last-child) {
      margin-right: 20px;

      @include mq('phone') {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    max-width: 300px;
    position: relative;
    padding: 22px 32px 22px 86px;
    box-shadow: 0 0 0 1px $silver-200;
    border-radius: 5px;
    background-color: $white;
    transition: background-color 0.3s, box-shadow 0.3s;
    @include line-clamp(1);

    @include mq('tablet') {
      padding: 18px 24px 18px 66px;
    }

    @include mq('phone') {
      padding: 12px 16px 12px 41px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      @include pseudo;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 44px;
      height: 44px;
      top: 12px;
      left: 32px;

      @include mq('tablet-2') {
        width: 36px;
        height: 36px;
        top: 15px;
        left: 35px;
      }

      @include mq('tablet') {
        width: 29px;
        height: 29px;
        top: 15px;
        left: 30px;
      }

      @include mq('phone') {
        width: 20px;
        height: 20px;
        top: 10px;
        left: 15px;
      }
    }

    &--burg {
      &::before {
        background-image: url("../img/sprite.svg#icon-burger");
      }
    }

    &--pizza {
      &::before {
        background-image: url("../img/sprite.svg#icon-pizza");
      }
    }

    &--sandwich {
      &::before {
        background-image: url("../img/sprite.svg#icon-sandwich");
      }
    }

    &--asia {
      &::before {
        background-image: url("../img/sprite.svg#icon-asia");
      }
    }

    &--dish {
      &::before {
        background-image: url("../img/sprite.svg#icon-dish");
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-800, 0.7);

      &::before {
        color: $darkBlue-900;
      }
    }

    &:hover {
      background-color: rgba($orange-100, 0.1);
      box-shadow: 0 0 0 2px rgba($orange-800, 0.7);
      color: $orange-900;

      &::before {
        @include recolor($orange-900);
      }
    }

    &:active {
      color: $dark;
      box-shadow: inset 0 -5px 12px rgba($orange-800, 0.2);

      &::before {
        @include recolor($dark);
      }
    }
  }

  .mixitup-control-active {
    background-color: $orange-900;
    color: $white;

    &::before {
      @include recolor($white);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 30px;
    margin-bottom: 60px;

    @include mq('tablet-2') {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 50px;
    }

    @include mq('tablet') {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 40px;
    }

    @include mq('phone') {
      grid-template-columns: 1fr 1fr;
      row-gap: 10px;
      column-gap: 5px;
      margin-bottom: 30px;
    }
  }

  &__more {
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    text-decoration: underline;

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-800, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;
      text-decoration: none;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($dark, 0.5);
    }
  }
}