.reviews {
  text-align: center;
  padding-bottom: 115px;

  @include mq("tablet-2") {
    padding-bottom: 80px;
  }

  @include mq("tablet") {
    padding-bottom: 60px;
  }

  @include mq("phone") {
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 45px;

    @include mq("tablet") {
      margin-bottom: 35px;
    }

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__avatar {
    margin-right: 40px;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
    height: 300px;

    @include mq("tablet") {
      width: 150px;
      height: 150px;
      margin-right: 0;
      margin-bottom: 30px;
    }

    @include mq("phone") {
      width: 100px;
      height: 100px;
    }
  }

  &__content {
    max-width: 650px;
    padding: 0 40px;
    position: relative;
    text-align: left;

    &::before,
    &::after {
      @include pseudo;
      width: 24px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &::before {
      background-image: url("../img/reviews/quot-1.svg");
      left: 0;
      top: 0;
    }

    &::after {
      background-image: url("../img/reviews/quot-2.svg");
      right: 0;
      bottom: 90px;

      @include mq("tablet") {
        bottom: 70px;
      }
    }
  }

  &__text {
    font-style: italic;
    margin-bottom: 30px;

    @include mq("tablet-2") {
      font-size: 18px;
    }

    @include mq("tablet") {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @include mq("phone") {
      font-size: 14px;
    }

    p {
      margin-bottom: 10px;
    }
  }


  &__about {
    display: block;
    font-size: 14px;
    line-height: 1.3;
  }

  &__name {
    font-style: normal;
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: $orange-900;
    margin-bottom: 15px;

    @include mq("tablet-2") {
      font-size: 18px;
      margin-bottom: 10px;
    }

    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__advantages {
    font-style: normal;
  }

  &__nav {
    position: relative;
    max-width: 240px;
    padding-bottom: 90px;
    margin: 0 auto;

    @include mq("tablet") {
      position: absolute;
      top: 0;
      max-width: 350px;
      left: 0;
      right: 0;
      padding-bottom: 100px;
    }

    @include mq("phone") {
      padding-bottom: 60px;
      max-width: 300px;
    }
  }
}

.reviews-swiper {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  &__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq("tablet") {
      flex-direction: column;
    }
  }

  &__pag {
    @include mq("tablet") {
      display: none;
    }
  }
}

.swiper-pagination-bullet {
  margin: 0;
  background-color: $gray;
  width: 15px;
  height: 15px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  outline: transparent;

  &:focus {
    box-shadow: 0 0 0 2px $orange-900;
  }

  &:hover {
    background-color: $orange-100;
    box-shadow: 0 0 0 2px rgba($orange-800, 0.7);
  }

  &:active {
    background-color: $orange-700;
    box-shadow: none;
  }

}

.swiper-pagination-bullet-active {
  background-color: $orange-900;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;

  &:not(:last-child) {
    margin-right: 15px;
  }
}



.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  border: 3px solid $gray;
  border-radius: 50%;
  bottom: 0;
  transform: translateY(70%);
  width: 34px;
  height: 34px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($orange-800, 0.7);
  }

  &:hover {
    background-color: $orange-100;
    border: 3px solid $orange-700;

    &::after {
      color: $orange-700;
    }
  }

  &:active {
    background-color: $orange-100;
    border: 3px solid $orange-100;
    box-shadow: none;

    &::after {
      color: $orange-800;
    }
  }

  &::after {
    font-size: 18px;
    color: $gray;
    transition: color 0.5s;
  }
}